.links{
    display:flex;
    color:black;
    background-color: pink;
    /*justify-content:center;
    gap:20px;*/
    text-align: justify;
    border-radius:10px;
}

.content{
    width:auto;
    height:auto;
    padding: 20px;
    background-color: red;
    color:white;
}
.footer{
    color:white;
    background-color:blue;

}